/* Custom property - variables
Son datos que se guardan en el root para reutilizarce a lo largo del codigo.
el root es un elemendo de css que guarda las propiedades personalizadas a lo largo del codigo

El root es un elemento de css que guarda las propiedades personaliozadas u que podemos usar en el codigo.


Sintaxis:

:root {
  --nombre-variable:  Valor;

}

*/

:root{
  /* scheme light mode */
  --base:#C62E89;
  --height:#ECACD2;
  --shadow:#7C1D56;
  --white: #FCF3F8;
  --black: #15050E;

  --shadow-icon:03080B ;
  --padding-n: 1rem;
  --padding-s: 0.75rem;
  --padding-xs:0.5rem;
  
}

body.dark {
  /* Schema Dark Mode */

 --base:#4A1032;
 --height:#92737B;
  --shadow:#C62E89;
  --white: #9F8D95;
  --black: #15050E;
}


 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 100vh;
  background-color: var(--base);
  padding: var(--padding-n);
}

img{
  display: block;
  width: 100%;
}
p{
  font-family: Montserrat;
}
a{
  text-decoration: none;
  display: block;
}
button{
  border: none;
}


.card{
  border-radius: 1rem;
  background-color: var(--white);
  overflow: hidden;
  max-width: 1200px;
}
.header{
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  align-items: center;
  padding: var(--padding-n);
}

.brand{
  max-width: 130px;
}
.icon{
  width: 42px;
  height: 42px;
  padding: var(--padding-xs);
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 2px 2px 0 var(--shadow);}
  
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  gap: 1.41rem;
  padding: 1rem;
}
.main div:first-child{
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--base);
  max-width: 350px;
  
}

.main div:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;/* root f-s= 16px */
  
}

.main div:last-child h1{
  text-align: center;
  color: palevioletred;
  font-size: 3rem; /* 48px / 16px =  */
  line-height: 3rem;

  
}

.main p {
  text-align: center;
  font-size: 1.25rem; /* 20 px / 16px =  */
  line-height: 1.125rem;
  
}

.main a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: var(--base);
  color: white;
  font-family: "montserrat", sans-serif;


}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  ;
}

.footer div{
  display: flex;
  gap: 1rem;
  ;
}

.footer p{
  font-size: 0.75rem;
}




/* Estilos Tablet */

@media screen and (main-width: 780px) {
  .brand {
    max-width: 160px;
  }

  .card {
    max-width: 560px;
  }
  .main div:first-child {
    max-width: 260px;
  }

  .main div:last-child {
    padding: 0 4rem;
    gap: 0.75rem
  }

  .main p {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (main-width 1204) {
  .card {
    gap: 4rem;
    max-width: 1200px;
  }

  .brand {
    max-width: 220px;
  }

  .main {
    flex-direction: row;
    padding: 0 4rem;
    gap: 1.5rem;
  }

  .main div:first-child {
    max-width: 360px;
  }

  .main div:last-child {
    max-width: 500px;
    gap: 1rem;
    padding: 0;
  }

  .main h1 {
    text-align: left;
    font-size: 4rem;
    line-height: 4 rem;
  }

  .main p {
    text-align: left;
  }

  .main a {
    align-self: flex-start;
    font-size: 1.4rem;
  }
}